@import "./variable.scss";
@import "./mixin.scss";

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;900&display=swap");

// CSS pass down for entire projects
* {
  font-family: Mulish, Avenir, Helvetica, Arial, sans-serif !important;
  box-sizing: border-box;
}

body {
  margin: 0;
}

button.primary-button {
  border-radius: 20px;
  background-color: var(--primary) !important;
  color: var(--white) !important;

  &:hover {
    background-color: var(--secondary) !important;
  }
}

p {
  font-size: 13px;
}

.carousel.carousel-slider {
  border-radius: 20px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}
