@import "./variable.scss";
@import "./mixin.scss";

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;900&display=swap");

// CSS pass down for entire projects
* {
  font-family: Mulish, Avenir, Helvetica, Arial, sans-serif !important;
  box-sizing: border-box;
}

body {
  margin: 0;
}

button.primary-button {
  border-radius: 20px;
  background-color: var(--primary) !important;
  color: var(--white) !important;

  &:hover {
    background-color: var(--secondary) !important;
  }
}
