:root {
  --2xl: 1440px;
  --xl: 1280px;
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --p-lg: 32px;
  --p-md: 24px;

  // Color
  --primary: #fa9600;
  --secondary: #fa6900;
  --tertiary: #ecaf84;
  --quaternary: #feefd9;
  --white: white;
  --black: black;
}
