:root {
  --2xl: 1440px;
  --xl: 1280px;
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --p-lg: 32px;
  --p-md: 24px;

  // Color
  --primary: #c900a9;
  --secondary: #fe11be;
  --black: #000;
  --white: #fff;
  --gray: gray;
}
