.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  text-align: center;
  color: var(--primary) !important;
  margin-left: 5%;
  transform: translateY(calc(50vh - 50% - 50px));

  .title {
    font-size: 32px;
    font-weight: 900;
    color: var(--primary) !important;
  }

  input {
    color: var(--primary) !important;
    padding: 12px;
  }

  svg {
    fill: var(--primary);
  }

  fieldset {
    border-color: var(--primary) !important;
    border-radius: 10px;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    color: red;
  }

  .submit-button {
    color: white;
    background-color: var(--primary);
    border-radius: 10px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;

    &:hover {
      background-color: var(--primary);
    }
  }

  .link {
    margin-top: 20px;
    color: var(--primary) !important;
    a {
      text-decoration: none;
      color: var(--primary);
    }
  }
}
