.modal-dialog {
  text-align: center;

  .content {
    display: flex;
    justify-content: center;
    img {
      width: 70px;
      height: auto;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    min-width: 200px;
  }
}
