.description {
  flex: 1;
  background-color: var(--quaternary);
  border-radius: 20px;
  border: 1px solid var(--primary);

  .title {
    font-weight: bold;
    font-size: 22px;
  }

  .sub-title {
    font-weight: bold;
  }

  p {
    padding: 0 10px;
  }
}
