@import "../../styles/mixin.scss";

.productsContainer {
  background-color: var(--quaternary);
  width: 90%;
  padding: 10px 30px 30px;
  margin: 30px auto;
  border: 2px solid var(--primary);
  border-radius: 20px;

  .title {
    width: 50%;
    height: 55px;
    text-align: center;
    color: var(--primary);
    font-weight: bold;
    font-size: 30px;
    line-height: 1.8;
    border-radius: 15px;
    margin: 20px auto;
    background-color: var(--white);
    text-transform: uppercase;
  }

  .productCards {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 2%;
  }
}

.seeMore {
  display: flex !important;
  gap: 2px;
  margin: 20px auto 0 !important;
  height: 40px;
  width: 120px;
  svg {
    transform: scale(-1, 1) translateY(-1px);
  }
}

@include responsive(xl) {
  .productsContainer {
    .categoryContainer {
      gap: 2%;
    }
  }
}

@include responsive(lg) {
  .productsContainer {
    .title {
      width: 60%;
      font-size: 26px;
      line-height: 2;
    }
  }
}

@include responsive(md) {
  .productsContainer {
    .title {
      width: 80%;
      font-size: 22px;
      line-height: 2.2;
      height: 45px;
      margin: 10px auto 0;
    }
  }
}

@include responsive(sm) {
  .productsContainer {
    padding: 15px;
    .title {
      width: 100%;
      font-size: 18px;
      line-height: 2.5;
    }
  }
}
