@import "../../styles/mixin.scss";

.footer {
  padding: 10px;
  img {
    height: 40px;
    width: auto;
  }
}

.formFooter {
  position: absolute;
  bottom: 0;
  right: 0;
}

.normalFooter {
  margin-top: 30px;
  text-align: right;
  background-color: var(--primary);
}
