@import "../../styles/mixin";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 70px;
  z-index: 9999;

  button {
    background-color: var(--white);
    color: var(--black);
    padding: 5px;

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  &.normalHeader {
    background-color: var(--secondary);
  }

  svg {
    height: 30px !important;
    width: 30px !important;
  }
}

@include responsive(md) {
  .header {
    padding: 10px;
    justify-content: unset;
  }
}

@include responsive(sm) {
  .header {
    padding: 10px 5px;
  }
}
