@import "../../styles/mixin";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-height: 70px;
  z-index: 9999;

  button {
    background-color: var(--white);
    color: var(--primary);
    padding: 5px;

    &:hover {
      background-color: var(--white);
      color: var(--primary);
    }
  }

  .navigation-container {
    text-align: center;
    flex: 1;
    button {
      display: none;
      height: 40px;
      width: 40px;
      margin-right: 5px;
    }
    a {
      line-height: 1;
    }
    img {
      height: 30px;
      width: auto;
    }
  }

  ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 33%;

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        font-weight: 700;
        padding: 20px;
      }
    }
  }

  svg {
    fill: var(--white);
    height: 30px !important;
    width: 30px !important;
  }

  .header-features {
    width: 33%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }

  .actions {
    width: 33%;
    .action-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      button {
        background-color: var(--white);
        color: var(--black);
        font-weight: bold;
        border-radius: 15px;
      }
    }
    .action-icon {
      display: none;
    }
  }

  &.form-header {
    ul {
      li {
        a {
          color: var(--black);
        }
      }
    }
  }

  &.normal-header {
    background-color: var(--secondary);
    button {
      background-color: var(--primary);
      color: var(--white);
      padding: 5px;

      &:hover {
        background-color: var(--white);
        color: var(--primary);
      }
    }
    ul {
      li {
        a {
          color: var(--white);
        }
      }
    }
  }
}

@include responsive(lg) {
  .header {
    .navigation-container {
      display: flex;
      align-items: center;
      button {
        display: block;
      }
    }
    ul {
      display: none;
    }

    &.form-header {
      svg {
        fill: var(--primary);
      }
    }
  }
}

@include responsive(md) {
  .header {
    padding: 10px;
    .actions {
      .action-buttons {
        display: none;
      }
      .action-icon {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

@include responsive(sm) {
  .header {
    .navigation-container {
      img {
        height: 20px;
        width: auto;
      }
    }
  }
}
