@import "../../styles/mixin";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 70px;
  z-index: 9999;

  button {
    background-color: var(--white);
    color: var(--black);
    padding: 5px;

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  ul.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 33%;

    li {
      list-style-type: none;
      a {
        color: var(--black);
        text-decoration: none;
        font-weight: 700;
        padding: 15px;
        transition: all 0.3 ease;
      }
    }
  }

  &.form-header {
    ul.navigation-list > li > a {
      &:hover {
        color: var(--primary);
      }
    }
  }

  &.normal-header {
    background-color: var(--secondary);

    ul.navigation-list > li > a {
      &:hover {
        color: var(--white);
      }
    }
  }

  .navigation-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      display: none;
      height: 40px;
      width: 40px;
    }
    img {
      height: 30px;
      width: auto;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  svg {
    height: 30px !important;
    width: 30px !important;
  }

  .actions {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    button {
      font-weight: bold;
      border-radius: 15px;
    }
  }
}

@include responsive(md) {
  .header {
    padding: 10px;
    .navigation-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      button {
        display: block;
        border: 1px solid var(--black);
      }

      img {
        height: 25px;
      }
    }

    ul.navigation-list,
    .actions {
      display: none;
    }
  }
}

@include responsive(sm) {
  .header {
    padding: 10px 5px;
    .navigation-container {
      gap: 5px;
      img {
        height: 20px;
      }
    }
  }
}
