.rating {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 25px;

  img {
    height: 100%;
    width: auto;
    padding: 0 2px;

    &.inactive {
      filter: invert(13%) sepia(5%) saturate(11%) hue-rotate(324deg)
        brightness(103%) contrast(83%);
    }
  }

  &.small {
    padding: 2px;
    height: 16px;
    width: 80px;
  }

  &.large {
    display: inline-block;
    padding: 5px 10px;
  }
}
