@import "../../styles/mixin.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  min-height: calc(100vh - 70px);
  text-align: center;
  color: var(--primary) !important;
  margin-left: 15%;
  justify-content: center;
  .formHeader {
    .avatar {
      background-color: var(--primary);
      width: 90px;
      height: 90px;
      min-width: 90px;
      min-height: 90px;
      border-radius: 50%;
      margin: auto;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .title {
      font-size: 28px;
      font-weight: 900;
      color: var(--primary) !important;
      display: block;
      padding: 5px 10px;
      border-radius: 15px;
    }
  }

  input {
    color: var(--primary) !important;
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
  }

  svg {
    fill: var(--primary);
  }

  fieldset {
    border-color: var(--primary) !important;
    border-radius: 10px;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    color: red;
  }

  .submitButton {
    color: white;
    background-color: var(--primary);
    border-radius: 10px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: var(--primary);
    }
  }

  .link {
    margin-top: 20px;
    margin-bottom: 60px;
    color: var(--primary) !important;
    a {
      text-decoration: none;
      color: var(--primary);
    }
  }
}

@media screen and (max-width: 1700px) {
  .formContainer {
    margin-left: 10%;
  }
}

@include responsive(xl) {
  .formContainer {
    padding: 20px;
    .formHeader {
      .title {
        font-size: 24px;
      }
    }
  }
}

@include responsive(md) {
  .formContainer {
    .formHeader {
      .avatar {
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
      }
      .title {
        font-size: 20px;
        background-color: var(--white);
        display: inline-block;
      }
    }
  }
}

@include responsive(sm) {
  .formContainer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
