@import "../../styles/mixin.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  text-align: center;
  color: var(--primary) !important;
  margin-left: 10%;
  transform: translateY(calc(50vh - 50% - 70px));

  .title {
    font-size: 28px;
    font-weight: 900;
    color: var(--primary) !important;
    display: block;
    padding: 5px 10px;
    border-radius: 15px;
  }

  input {
    color: var(--primary) !important;
    background-color: var(--white);
    border-radius: 10px;
    padding: 12px;
  }

  svg {
    fill: var(--primary);
  }

  fieldset {
    border-color: var(--primary) !important;
    border-radius: 10px;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    color: red;
  }

  .submitButton {
    color: white;
    background-color: var(--primary);
    border-radius: 10px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: var(--primary);
    }
  }

  .link {
    margin-top: 20px;
    color: var(--primary) !important;
    a {
      text-decoration: none;
      color: var(--primary);
    }
  }
}

@media screen and (max-width: 1700px) {
  .formContainer {
    margin-left: 10%;
  }
}

@include responsive(xl) {
  .formContainer {
    padding: 20px;
    .title {
      font-size: 24px;
      background-color: var(--white);
      align-self: center;
    }
  }
}

@include responsive(md) {
  .formContainer {
    .title {
      font-size: 20px;
    }
  }
}

@include responsive(sm) {
  .formContainer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
